*{
    margin: 0;
    padding: 0;
   
}

#cardes{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
#Login{
    display: flex;
    width: 100%;
    padding: 50px;
    background-color: darkred;
    color: white;
    padding-bottom: 30px;
    
}
#login form{
    margin: auto;
}
footer{
    margin-top: 100px;
    width:100%;
    padding: 50px;
    background: black;
    
}
